/* 320++  */
.b-main-page {

    &__content {
        min-height: 100vh;
        min-width: 100%; // Note: for ie11 fix flex
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}