/* 320++  */
.b-description-text {
    font-size: 1.4rem;
    line-height: 1.2;
    color: $cl-description-text;
    margin: 0;

    &--large {
        font-size: 1.6rem;
    }

    &--main {
        width: calc(100% - 45px);
        background-color: $cl-light-gray;
        border-top: 4px solid;
        border-right: 4px solid;
        border-color: $cl-blue;
        border-top-right-radius: $border-radius-item-card;
        padding-top: 18px;
        transition: border-color $animation-time;

        .b-item-card--selected & {
            border-color: $cl-pink;
        }

        .b-item-card--disabled & {
            border-color: $cl-disabled-style;
        }
    }

    &__prefix {
        font-family: $font-base-bold;
    }

    .b-item-card--disabled & {
        color: $cl-disabled-style;
    }
}