.b-item-card {
    flex-grow: 1;

    &--hover & {

        &__information,
        &__head:before,
        &__figure:before {
            border-color: $cl-light-blue;
        }

        &__image-wrapper {
            left: -5px;
        }
    }

    &--selected.b-item-card--hover & {

        &__information,
        &__head:before,
        &__figure:before {
            border-color: $cl-light-pink;
        }
    }
}